.header
  .header__content BeerLog
  .header__buttons
    %button{class: "header-button", onclick: "location.href=''"} Beers
    %button{class: "header-button", onclick: "location.href=''"} My page
    %button{class: "header-button", onclick: "location.href=''"} Log in
    %button{class: "header-button", method: :delete, onclick: "location.href='/users/sign_out'"} Review