.main-image{
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 70px;
  background-size: cover;
  background-image: url(top-page_edit.png);
  background-color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;

  &__contents{
    width: 100%;
    text-align: center;
    &--text{
      color: white;
      font-size: 80px;
      font-weight: bold;
    }
    &--button{
      button.top-page-button{
        font-size: 30px;
        border-radius: 20px;
        font-weight: bold;
        background-color: transparent;
        color: white;
        padding: 10px 100px;
        margin-top: 30px;
        border: white 1px solid;
      }
    }
  }
}