.main-image{
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 70px;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(top-page_edit.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__contents{
    width: 100%;
    text-align: center;
    z-index: 10;

    &--text{
      color: white;
      font-size: 80px;
      font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo UI',sans-serif;
    }
    &--button{
      ul{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        li{
        width: 200px;
        font-size: 30px;
        border-radius: 20px;
        padding: 5px 30px;
        font-weight: bold;
        background-color: transparent;
        color: white;
        border: white 1px solid;
        outline: 0;
        margin: 5px;
        }
      }
    }
  }
}

.main-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /*半透明のフィルターをかける*/
}