.wrapper
  = render 'templete/header'
  .main-image
    .main-image__contents
      .main-image__contents--text
        %p きのう何飲んだ？
      .main-image__contents--button
        %ul
          - if user_signed_in?
            %li
              = link_to "ENTER", reviews_path
          - else
            %li
              = link_to "ENTER", reviews_path
            %li
              = link_to "新規登録", new_user_registration_path