.wrapper
  = render 'reviews/header'
  .main-image
    .main-image__contents
      .main-image__contents--text
        %p aaa
        %p bbb
      .main-image__contents--button
        %button{class: "top-page-button", onclick: "location.href='reviews'"} ENTER