.wrapper{
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .main-contents {
    background-color: white;
    width: 85vw;
    height: calc(100% - 450px);
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
    .reviews{
      &__top-rate{
        height: 500px;
        background-color: #444444;
      }
      &__latest{
        height: 500px;
        background-color: grey;
      }
    }
  }
  .footer {
    background-color: #444444;
    height: 300px;
  }
}