.review-detail{
  width: 50vw;
  height: 100%;
  min-height: calc(100vh - 170px);
  margin: auto;
  padding: 80px 10px 5px 10px;
  form.review-form{
    box-shadow: 0 0 4px gray;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    .review-images{
      min-height: 20vh;
      min-width: 30vw;
      border: #444444 1px solid;
      background-color: gray;
      // display: flex;
      // justify-content: center;
      // &--box{
      //   height: 100%;
      //   width: 25%;
      //   background-color: #444444;
      //   margin: 5px
      // }
    }
    .review-score{
      height: 100%;
      margin: 10px 0;
      &--forms{
        width: 60vw;
        .score-box{
          padding: 5px 10px;
        }
        .range{
          text-align: center;
        }
      }
    }
    .submit-btn{
      display: flex;
      justify-content: center;
      input.review-submit{
        background-color: #ffc60b;
        color: white;
        width: 10vw;
        height: 2rem;
      }
      .back-btn{
        background-color: #444444;
        color: white;
        width: 10vw;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        margin-left: 20px;
      }
    }
  }
}