.review-detail{
  width: 50vw;
  min-width: 700px;
  height: 100%;
  min-height: calc(100vh - 170px);
  margin: auto;
  padding: 80px 10px 5px 10px;
  &__box{
    box-shadow: 0 0 4px gray;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    .review-images{
      min-height: 20vh;
      border-bottom: #444444 1px solid;
      text-align: center;
      margin-top: 10px;
    }
    .review-description{
      height: 100%;
      margin: 10px 0;
      .score-box{
        padding: 5px 0;
        &__text{
          border: #444444 1px solid;
          padding: 5px;
          min-height: 24px;
          display: block;
          word-wrap: break-word;
        }
      }
    }
    .review-score{
      height: 100%;
      margin: 10px 0;
      display: flex;
      .score-chart{
        width: 90%;
        // margin-left: 30px;
        padding: 5px 100px;
        text-align: center;
      }
      .score-boxes{
        width: 10%;
        .score-box{
          padding: 5px 0;
          &__text{
            border: #444444 1px solid;
            padding: 5px;
            min-height: 24px;
            word-wrap: break-word;
          }
        }
      }
    }
    .buttons{
      display: flex;
      justify-content: center;
      .submit-btn{
        background-color: #ffc60b;
        width: 10vw;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
      }
      .delete-btn{
        background-color: rgb(235, 80, 80);
        width: 10vw;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        margin-left: 20px;
      }
      .back-btn{
        background-color: #444444;
        width: 10vw;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        margin-left: 20px;
      }
    }
  }
}
