.wrapper
  = render "templete/header"
  .banner
    .search-bar
      .search-bar__text chug it
      .search-bar__box
        .search-bar__box--form
          %input{type:"text", class: "search"}
          %button{type:"submit", class: "submit", value: ""}
  .main-contents
    .reviews
      %h1.review Latest
      .reviews__list
        .review
          .review__image
          .review__brand
            %h2.brand Kirin
          .review__item-name
            %h2.name Lagar beer
          .review__score
            %h2.score 5.0
        .review
        .review
        .review
      %h1.review Top10
      .reviews__list
        .review
        .review
        .review
        .review
  = render "templete/footer"