.wrapper
  = render "header"
  .review-detail
    .review-detail__images
      .review-detail__images--box
      .review-detail__images--box
      .review-detail__images--box
    .review-detail__contents
      .review-detail__contents--box
      .review-detail__contents--box
      .review-detail__contents--box
      .review-detail__contents--textbox
    .review-detail__score
      .review-detail__score--chart
      .review-detail__score--form
  = render "footer"