.wrapper
  = render "templete/header"
  .review-detail
    .review-detail__images
      .review-detail__images--box
      .review-detail__images--box
      .review-detail__images--box
      .review-detail__images--box
    .review-detail__contents
      .review-detail__contents--box name
      .review-detail__contents--box maker
      .review-detail__contents--box user
      .review-detail__contents--textbox texttttttttttttttttttttttttttttttt
    .review-detail__score
      .review-detail__score--chart
      .review-detail__score--form
        .input-score aaaa
        .input-score bbbb
        .input-score cccc
        .input-score dddd
        .input-score dddd
  = render "templete/footer"